<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Todos</title>
  <%= stylesheet_link_tag    "todo", :media => "all" %>
  <%= javascript_include_tag "vue" %>
  <%= javascript_include_tag "superagent" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  </header>

  <footer>

  </footer>

  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
